# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BCZ Core
Comment=BCZ Core QT test network
GenericName=BCZ Digital Currency QT client testnet network
Exec=bcz-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bcz_testnet.png
MimeType=x-scheme-handler/bcz;
Categories=X-Office;X-Finance;
Keywords=internet;bcz;tbcz;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
